<!doctype html>
<html lang="{{ site.language }}" class="scroll-smooth">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Baklib">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% meta_tags %}
    {{ 'editor.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'css/viewer.min.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'javascripts/main.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'css/main.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    <style type="text/css">
      [x-cloak] { display: none !important; }
      /* 页内导航.active链接  */
      .menu_active {
        border-left: 2px solid hsl(var(--theme-color-primary));
        color: hsl(var(--theme-color-primary))
      }
      .scrollbar::-webkit-scrollbar {
        width: 0;
      }
      .active {
        color: hsl(var(--theme-color-primary))
      }
    </style>
    {%# TIPS：在低代码平台开发时，请打开下一行代码注释 %}
    {% if true %} {{ 'javascripts/cdn.tailwindcss.js' | asset_url | script_tag: data-turbo-track: 'reload' }} {% endif %}
    {{ site.settings.head_html }}
  </head>
  <body class="antialiased text-slate-800 font-[350] bg-white dark:bg-slate-900 dark:text-slate-200">
    <div class="flex flex-col min-h-screen overflow-hidden">
        <!-- Site header -->
        {% render 'header', settings: site.settings, page: page %}
        <!-- Page content -->
        <main class="grow mt-20">
          {{ content_for_layout }}
        </main>
    </div>
    {% render 'footer', settings: site.settings %}
  </body>
</html>
