{% assign hot_tags = site.settings.hot_tags | split: ',' %}

<section class="relative">

    <div class="absolute top-0 -translate-x-1/2 pointer-events-none left-1/2 -z-10">
        <img class="max-w-none" src="{{ 'images/hero.svg' | asset_url }}" width="1972" height="392" aria-hidden="true" />
    </div>

    <div class="px-4 mx-auto max-w-7xl sm:px-6">

        <!-- Main content -->
        <div x-data="{ sidebarExpanded: false }">

            <!-- Backdrop -->
            <div
                class="fixed inset-0 z-10 transition-opacity md:hidden bg-slate-900 bg-opacity-20"
                x-show="sidebarExpanded"
                x-transition:enter="transition ease-out duration-200"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-out duration-100"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
                x-cloak
                aria-hidden="true"
            ></div>

            <!-- Page container -->
            <div class="lg:pr-6 xl:pr-0">
                <div class="grid grid-cols-2">

                    <!-- Page header/index none -->
                    <!-- Sidebar -->
                    <aside
                        id="sidebar"
                        class=" w-64 h-screen border-r border-slate-200 md:left-auto md:shrink-0 z-10 md:!opacity-100 md:!block dark:border-slate-800 dark:bg-slate-900"
                        @click.outside="sidebarExpanded = false"
                        @keydown.escape.window="sidebarExpanded = false"
                        x-show="sidebarExpanded"
                        x-transition:enter="transition ease-out duration-200 transform"
                        x-transition:enter-start="opacity-0 -translate-x-full"
                        x-transition:enter-end="opacity-100 translate-x-0"
                        x-transition:leave="transition ease-out duration-200"
                        x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                        x-cloak
                    >
                        <!-- Gradient bg displaying on light layout only -->
                        <div class="absolute inset-0 -left-[9999px] bg-gradient-to-b from-slate-50 to-white pointer-events-none -z-10 dark:hidden" aria-hidden="true"></div>

                        <div class="w-64 px-4 overflow-y-auto sm:px-6 md:pl-0 md:pr-8 no-scrollbar">
                            <div class="pt-24 pb-8 md:pt-28">
                                <!-- Docs nav -->
                                <nav class="md:block">
                                    <ul class="text-sm">
                                        {% assign pages = site.pages['/'].children_in_nav_menu %}
                                        {% for item in pages %}
                                            <!-- 1st level -->
                                            <li class="mb-1" x-data="{ open: true }">
                                            <div class="relative flex items-center justify-between p-1 text-slate-800 dark:text-slate-200" style="{% if item.path == page.path %} color:blue; {% endif %}">
                                                <div class="flex">
                                                    <svg class="w-4 h-4 mr-2 flex-0 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                                                        <path class="text-primary" d="M5.5 3.5A1.5 1.5 0 0 1 7 2h2.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 1 .439 1.061V9.5A1.5 1.5 0 0 1 12 11V8.621a3 3 0 0 0-.879-2.121L9 4.379A3 3 0 0 0 6.879 3.5H5.5Z" />
                                                        <path class="opacity-50 text-secondary" d="M4 5a1.5 1.5 0 0 0-1.5 1.5v6A1.5 1.5 0 0 0 4 14h5a1.5 1.5 0 0 0 1.5-1.5V8.621a1.5 1.5 0 0 0-.44-1.06L7.94 5.439A1.5 1.5 0 0 0 6.878 5H4Z" />
                                                    </svg>
                                                    <a href="{{ item.path }}">{{ item.link_text }}</a>
                                                </div>
                                                {% assign item_children_count = item.children_in_list | size %}
                                                {% if item_children_count > 0  %}
                                                <a href="#0" @click.prevent="open = !open" aria-haspopup="true" :aria-expanded="open">
                                                    <svg class="ml-2 fill-slate-400 shrink-0" :class="{ 'rotate-90': open }" width="8" height="10" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 2 2.414.586 6.828 5 2.414 9.414 1 8l3-3z" />
                                                    </svg>
                                                </a>
                                                {% endif %}
                                            </div>
                                            {% render 'tree', item:item, page: page %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </aside>
                    <article class="md:pl-64 pt-24 pb-8 md:pt-28 md:pl-6 lg:pl-12 xl:space-x-12">

                        <!-- Main area -->
                        <div class="min-w-0">

                            <!-- Mobile hamburger + breadcrumbs -->
                            <div class="flex items-center mb-8 md:hidden">
                                <!-- Hamburger button -->
                                <button
                                    class="hamburger"
                                    @click.stop="sidebarExpanded = !sidebarExpanded"
                                    aria-controls="sidebar"
                                    :aria-expanded="sidebarExpanded"
                                >
                                    <span class="sr-only">Menu</span>
                                    <svg class="w-6 h-6 fill-slate-600 dark:fill-slate-400" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="4" y="5" width="16" height="2"></rect>
                                        <rect x="4" y="11" width="16" height="2"></rect>
                                        <rect x="4" y="17" width="16" height="2"></rect>
                                    </svg>
                                </button>
                                <!-- Breadcrumbs -->
                                {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
                            </div>

                            <!-- Article content -->
                            <div class="mb-12">
                                <div class="flex items-center justify-between">
                                    <header class="mb-8">
                                        <h1 class="mb-4 text-2xl font-bold h1 md:text-3xl text-slate-800 dark:text-slate-200">{{ site.name | default: 'How can we Help?'}}</h1>
                                        <p class="text-lg text-slate-600 dark:text-slate-400">{{ site.settings.description }}</p>
                                    </header>
                                    <div class="">
                                        {% form_tag 'search', class: 'w-full ml-8' %}
                                        <div class="relative rounded-md shadow-sm">
                                            <button type="submit" class="absolute inset-y-0 right-0 flex items-center pl-4 pr-3 sm:right-auto">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="w-5 h-5 text-primary"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke="currentColor"
                                            >
                                                <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                            </svg>
                                            </button>
                                            <input
                                            type="text"
                                            name="{{form.keywords_field_name}}" value="{{ search.keywords | escape_once }}"
                                            placeholder="{{ "placeholders.search" | t }}"
                                            autocomplete="off"
                                            class="block w-full h-12 pl-3 pr-10 transition duration-300 ease-in-out bg-white bg-opacity-75 border rounded outline-none dark:bg-slate-300 border-primary focus:ring-0 focus:border-primary sm:pl-12 sm:text-lg md:h-14 lg:h-16 focus:bg-opacity-90"
                                            >
                                        </div>
                                        {% endform_tag %}
                                    </div>
                                </div>

                                <div class="grid grid-cols-2 gap-4 lg:grid-cols-4">
                                    {% assign pages = site.pages['/'].children_in_nav_menu | limit: 8 %}
                                    {% for page in pages %}
                                        <a href="{{ page.path }}" class="flex flex-col items-start justify-between px-4 pt-6 pb-3 space-y-6 transition-all duration-300 bg-white rounded-md shadow-sm dark:text-white dark:border-slate-800 dark:bg-slate-900 shadow-gray-200 hover:-translate-y-1 hover:shadow-md ">
                                            <div class="flex items-center justify-center w-12 h-12 text-blue-600 bg-blue-100 rounded-md md:w-16 md:h-16">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                                </svg>
                                            </div>
                                            <div class="flex-1">
                                                <span class="text-base font-semibold">{{ page.link_text | truncate: 20}}</span>
                                                <span class="block mt-1 mb-2 text-sm text-slate-400">{{ page.pages | size }} {{'generic.articles' | t}}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>

                                <div class="space-y-8 text-slate-600 dark:text-slate-400">

                                    <!-- Hot/Faqs section -->
                                    <div class="flex justify-start md:justify-between">
                                        {% comment %} 热门页面 {% endcomment %}
                                        {% assign hot_pages = site.pages['/'].children_in_list | order_by: '-views_count' | limit: 5 %}
                                        <section class="flex-none mt-8 space-y-4 md:flex-1">
                                            <h2 id="overview" data-scrollspy-target class="mb-4 text-xl font-bold md:text-2xl text-slate-800 scroll-mt-24 dark:text-slate-200">{{ 'generic.hot_pages' | t }}</h2>
                                            {% render "collapse_pages", title: , pages: hot_pages %}
                                        </section>

                                        {% comment %} 最近更新 {% endcomment %}
                                        {% assign recent_pages = site.pages_in_list | order_by: '-updated_at' | limit: 5 %}
                                        <section class="flex-none mt-8 space-y-4 md:flex-1">
                                            <h2 id="overview" data-scrollspy-target class="mb-4 text-xl font-bold md:text-2xl text-slate-800 scroll-mt-24 dark:text-slate-200">{{ 'generic.recent_pages' | t }}</h2>
                                            {% render "collapse_pages", title: 'generic.recent', pages: recent_pages %}
                                        </section>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- Secondary navigation -->

                    </article>

                </div>
            </div>

        </div>

    </div>

</section>

{% schema %}
{
    "name": "Document index theme",
    "thumb_url": "images/theme/index-docs.png",
    "description": "Documentation",
    "preview_image_urls": [
        "images/theme/index-docs.png"
    ],
    "sub_page_templates": [
        "page"
    ]
}
{% endschema %}
