
{%- if page.parent.settings.video_type.value == "1" -%}
  {%  assign thumb_class = "aspect-[9/16] mx-auto h-full rounded-xl bg-gray-100 object-cover" %}
{%- else -%}
  {%  assign thumb_class = "aspect-[16/9] mx-auto h-full rounded-xl bg-gray-100 object-cover" %}
{%- endif -%}

<div class="bg-accent/30 dark:bg-slate-700 sticky top-7">
  <div class="py-2 mx-auto truncate max-w-7xl">
    {% render 'breadcrumb', breadcrumb: page.breadcrumb %}
  </div>
</div>

<div class="max-w-3xl lg:max-w-7xl mx-auto my-4 p-4  lg:my-8 lg:p-8 rounded-lg dark:bg-navy-450">
  <!-- Main 3 column grid -->
  <div class="flex">
    <!-- Left column -->
    <div class="grow">
      <section aria-labelledby="section-1-title" class="px-4 lg:px-0">
        <h2 class="sr-only" id="section-1-title">{{ page.link_text  }}</h2>
        <div class="overflow-auto">

          <h1 class="mb-4 font-bold leading-normal md:mb-8 text-3xl md:text-4xl md:text-heading-1 dark:text-white">
            {{ page.settings.title }}</h1>

          <video class="{{ thumb_class }} max-h-[640px] border border-gray-200 rounded-lg dark:border-gray-700" controls>
            <source src="{{ page.settings.video_url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>

          <article class="p-4 text-lg leading-8 rounded-lg md:py-8 ProseMirror prose lg:prose-xl dark:bg-slate-600 dark:text-white">
            {{ page.settings.content }}
          </article>

          <!--Tags-->
          {% if page.settings.tags.size > 0 %}
            <div class="flex items-center py-4 mt-4 space-x-2 text-xs font-light md:mt-8 shrink-0 ">
                <p>{{ 'generic.tags' | t }}： </p>
                {% for tag in page.settings.tags %}
                    <a href="{{ tag.path }}" style="background-color: {{ tag.color }}" class="px-2 py-1 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2">
                    {{ tag.name }}
                    </a>
                {% endfor %}
            </div>
          {% endif %}

          <!-- Feedback -->
          <div class="py-8 flex justify-end">
            <div class="space-x-4">
              <div class="text-lg font-bold text-slate-800 dark:text-slate-200">{{ 'generic.feedback' | t }}</div>
              {% render "feedback_form", page: page %}
            </div>
          </div>

          <!-- Sub Post Section -->
          {% render 'page_list', page: page, show_header: false %}

          <!-- Post Section -->
          <div class="items-center text-center print:hidden">
            <!-- 上下页 -->
            <div class="items-center justify-between py-8 space-y-3 lg:flex lg:space-y-0 lg:space-x-4">
              <!-- Prev link -->
              {% if page.prev_page %}
                <a
                  href="{{ page.prev_page.path }}"
                  data-turbo="false"
                  class="block w-full p-3 text-left border rounded-md lg:w-1/2 border-slate-200"
                >
                  <div class="mb-2">{{ 'generic.prev_page' | t }}</div>
                  <div class="text-primary dark:text-slate-200">
                    <div
                      class="flex items-center space-x-2 line-clamp-1"
                    >
                      <svg
                        t="1697772474680"
                        class="w-4 h-4 icon"
                        viewBox="0 0 1024 1024"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        p-id="13457"
                      >
                        <path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8c-16.4 12.8-16.4 37.5 0 50.3l450.8 352.1c5.3 4.1 12.9 0.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z" p-id="13458" fill="currentColor"></path>
                      </svg>
                      <span class="line-clamp-1">{{ page.prev_page.link_text }}</span>
                    </div>
                  </div>
                </a>
              {% endif %}
              <!-- Next link -->
              {% if page.next_page %}
                <a
                  href="{{ page.next_page.path }}"
                  data-turbo="false"
                  class="block w-full p-3 text-left border rounded-md lg:text-right lg:w-1/2 border-slate-200"
                >
                  <div class="mb-2">{{ 'generic.next_page' | t }}</div>
                  <div class="text-primary dark:text-slate-200">
                    <div
                      class="flex items-center space-x-2 lg:justify-end line-clamp-1"
                    >
                      <span class="line-clamp-1">{{ page.next_page.link_text }}</span>
                      <svg
                        t="1697772474680"
                        class="w-4 h-4 rotate-180 icon"
                        viewBox="0 0 1024 1024"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        p-id="13457"
                      >
                        <path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8c-16.4 12.8-16.4 37.5 0 50.3l450.8 352.1c5.3 4.1 12.9 0.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z" p-id="13458" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                </a>
                {% # else %}
                {% comment %} <div class="flex w-1/2 text-sm border border-slate-200">暂无内容</div> {% endcomment %}
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Right column -->

  </div>
</div>


<!--/ article-->
{% schema %}
    {
    "name": "视频详情文章",
    "thumb_url": "images/theme/blog-detail.png",
    "description": "视频文章模板，固定的布局",
    "sub_page_templates": [""],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "placeholder": "",
        "label": "标题",
        "info": "显示在正文上方的文章标题"
      },
      {
        "id": "video_url",
        "type": "video_picker",
        "label": "视频",
        "info": "从资源库选择视频"
      },
      {
        "id": "thumb_image_url",
        "type": "image_picker",
        "ratio": "16:9",
        "width": 240,
        "label": "封面图"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "页面内容"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "标签"
      }
    ]
    }
{% endschema %}
